<nav class="navbar navbar-expand-sm navbar-light" style="background-color: black;">
    <div class="container">
        <a class="navbar-brand" href="/" style="color:white; font-size:x-large; "><b>CabWorld</b></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {{!-- // this is user  --}}
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><span style="font-weight:bold ;color:white;font-size:x-large">Account Setting</span></a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/userdetail">Account Update or Delete</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
                
                
            </ul>
        </div>
    </div>
</nav>