<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>

<body class="b1">

    {{>navbarhome}}

    <!-- For demo purpose -->
    <div class="text-center">

        <h1 class="text-center" style="margin-left:0%;"> Payment Here! </h1>
        <div class="container py-5">
        </div>
        <!-- End -->
        <div style="margin-top: -80px;">
            <div class="col-lg-6 mx-auto">
                <div class="card ">
                    <div class="card-header">
                        <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                            <!-- Credit card form tabs -->
                            <ul style="list-style:none">
                                <li class="nav-item"> <a href="#credit-card" class="nav-link active "> <i
                                            class="fas fa-credit-card mr-2" style="margin-left:%"></i><b>Card
                                            Payment</b>
                                    </a> </li>
                                {{!-- <li class="nav-item"> <a href="#paypal" class="nav-link "> <i
                                            class="fab fa-paypal mr-2" style="margin-left:%"></i> UPI </a> </li>
                                <li class="nav-item"> <a href="#net-banking" class="nav-link "> <i
                                            class="fas fa-mobile-alt mr-2" style="margin-left:%"></i> Net Banking </a>
                                </li> --}}
                            </ul>
                        </div> <!-- End -->
                        <!-- Credit card form content -->
                        <div class="tab-content">
                            <!-- credit card info-->
                            <div id="credit-card" class="tab-pane fade show active pt-3">
                                <form role="form" onsubmit="event.preventDefault()">
                                    <div class="form-group"> <label for="username">
                                            <h6 style="color: black; font-size:medium; margin-left:%">Card Owner</h6>
                                        </label> <input type="text" name="username" placeholder="Card Owner Name"
                                            required class="form-control " style="margin-left:22%"> </div>
                                    <div class="form-group"> <label for="cardNumber">
                                            <h6 style="color: black; font-size:medium; margin-left:%">Card number</h6>
                                        </label>
                                        <div class="input-group"> <input type="text" name="cardNumber"
                                                placeholder="Valid card number" class="form-control "
                                                style="margin-left:10%" required>
                                            <div class="input-group-append"> <span class="input-group-text text-muted">
                                                    <i class="fab fa-cc-visa mx-1"></i> <i
                                                        class="fab fa-cc-mastercard mx-1"></i> <i
                                                        class="fab fa-cc-amex mx-1"></i> </span> </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-sm-12">
                                            <div class="form-group"> <label><span class="hidden-xs">
                                                        <h6 style="color: black; font-size:medium; margin-left:%;">
                                                            Expiration Date</h6>
                                                    </span></label>
                                                <div class="input-group"> <input font-size:medium; type="number"
                                                        placeholder="MM" name="expiration" class="form-control"
                                                        style="margin-left:%" required> <input type="number"
                                                        placeholder="YY" name="" class="form-control" required> </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group mb-4"> <label data-toggle="tooltip"
                                                    title="Three digit CV code on the back of your card">
                                                    <h6 style="margin-left:%; color: black; font-size:medium;">CVV <i
                                                            class="fa fa-question-circle d-inline"></i></h6>
                                                </label> <input type="text" required class="form-control"
                                                    style="margin-left:20%">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group mb-4"> <label data-toggle="tooltip"
                                                    title="Amount to be payed according to the distance travelled">
                                                    <h6 style="margin-left:%; color: black; font-size:medium;">Amount<i
                                                            class="fa fa-question-circle d-inline"></i></h6>
                                                </label> <input type="text" required class="form-control"
                                                    style="margin-left:20%">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer"> <button onClick=location.href="/payment"
                                            type="button" class="subscribe btn btn-primary btn-block shadow-sm" ;
                                            style="margin-left:%"> Confirm Payment </button>
                                </form>
                            </div>
                        </div> <!-- End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>