<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

  
</head>
<style>
    .table td{
    }
</style>
<body>

    {{>navbar3}}

    <form>
        <div class="container ">
            <h1 style="background:black;width:fit-content;border-radius:10px; color:white ;margin-left:400px"> DataBase Info</h1>
            <div class="column" style="font-size: 30px;">
                <table class="table">
                <tr>
                    <th><label for="user"><a href="userdetail" style="text-decoration: none;color:rgb(237, 230, 230);background:black; border-radius:15px;">
                                User Info</a></label>
                    </th>
              
                <pre></pre>
                
                    <th><label for="user"><a href="driverdetail" style="text-decoration: none;color:rgb(222, 214, 214);background:black;border-radius:15px;">
                                Driver Info</a></label>
                    </th>
             
                <pre></pre>
              
                    <th><label for="user"><a href="admincabdetail" style="text-decoration: none;color:rgb(233, 229, 225);background:black;width:fit-content;border-radius:15px;">
                                Cab Info</a></label>
                    </th>
               
                <pre></pre>
             
                    <th><label for="user"><a href="adminbookingdetail"
                                style="text-decoration: none;color:rgb(236, 224, 224);background:black;width:fit-content;border-radius:15px;"> Book Info</a></label></th>
                </tr>
                </table>
            </div>
        </div>
    </form>


</body>

</html>